body {
  background-image:url('img/y-so-serious.png');
  color:white;
  font-family: 'Comfortaa', cursive;
}
a {
  display:block;
  margin:10px 0;
}
a:link,
a:visited {
  color:lightblue;
}
#projects-container {
  font-size:130%;
}